<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Pokeapi</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card  *ngFor="let details of detailsList ; index as i">
        <div class='is-grouped'>
          <input type='button' 
          value ="share" 
          (click)="printSkillName(details.name +'\n'+ details.moves)" 
          > 
        </div>
        <div class = "is-centered">
          <img src="{{details.images}}">
        </div>
        
        <ion-card-header>
          <ion-card-title class = "is-centered">{{details.id}}/{{detailsList.length}}. {{details.name}}</ion-card-title>
          <ion-card-subtitle class = "is-centered">{{details.type}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class='is-grouped'>
            <input type='button' 
            *ngFor="let move of details.moves; index as i"
            value ="{{i+1}}. {{move}} " 
            (click)="printSkillName(details.moves)" 
            > 
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>