<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokeapi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="catalog" [fullscreen]="true">
  <ion-list *ngFor="let details of detailsList; index as i">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{details.sprites.front_default}}">
      </ion-thumbnail>
      <h2> {{i+1}}/{{detailsList.length}}. {{details.name}}</h2>
    </ion-item>

    <div class='is-grouped'>
      <button class='button' *ngFor="let moves of details.moves; index as i">
        {{i+1}}.{{moves.move.name}}
      </button>
    </div>
  </ion-list>
</ion-content>