#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.is-grouped {   
  display: inline-block;
}

.is-centered{
  text-align : center;
}


.is-grouped > .button{
  margin: 2px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h2,ion-card{
  text-align: Left;
  text-transform: capitalize;
}

ion-card-list{
  text-align : center;
}

